# Libraries

In [ ]:
import numpy as np
import pandas as pd
from random import choice
import time
from tqdm import trange

## Get question IDs sorted based on Scores

> **Inputs** : 1_ Tags data-set
           2_ Question data-set
           3_ Input tag
           
> **Outputs** : Sorted Question's ID based on Score

In [ ]:
def getTopQid(Tags, Questions, inp_tag):
    ID_Score_Q = []
    qid_tags = Tags[Tags["Tags"] == inp_tag]["QId"]
    for qtags in qid_tags:
        ID_Score_Q.append(
            (qtags, Questions[Questions["Id"] == qtags]["Score"].values[0])
        )
    ID_Score_Q.sort(key=lambda tup: tup[1], reverse=True)
    return ID_Score_Q

## Get top Tags sorted based on QuestionID's Score

    Returning top 40 QuestionID's Tags

In [ ]:
def TopQTag(ID_Score_Q, Tags):
    first_tuple_elements = []
    for a_tuple in ID_Score_Q:
        first_tuple_elements.append(a_tuple[0])
    top_40 = first_tuple_elements[:40]
    IdScore_top_40 = []
    for items in top_40:
        IdScore_top_40.append(Tags.loc[Tags["QId"] == items, "Tags"].tolist())
    return IdScore_top_40

## Finding Intersections between top 40's QIDs

In [ ]:
def Tagwithsimilarity(IdScore_top_40, inp_tag):
    similarity_top40 = []
    for i in range(len(IdScore_top_40)):
        for j in range(len(IdScore_top_40[i])):
            repeating = 0
            for k in range(len(IdScore_top_40)):
                repeating += IdScore_top_40[k].count(IdScore_top_40[i][j])
            if (
                IdScore_top_40[i][j],
                repeating,
            ) not in similarity_top40 and IdScore_top_40[i][j] != inp_tag:
                similarity_top40.append((IdScore_top_40[i][j], repeating))
    similarity_top40.sort(key=lambda tup: tup[1], reverse=True)
    Top_5 = []
    for a_tuple in similarity_top40[:5]:
        Top_5.append(a_tuple[0])
    return Top_5

## Recommender System for tags

In [ ]:
def Recommneder(Tags, Questions, inp_tag):
    ID_Score_Q = getTopQid(Tags, Questions, inp_tag)
    IdScore_top_40 = TopQTag(ID_Score_Q, Tags)
    similarity_top5 = Tagwithsimilarity(IdScore_top_40, inp_tag)
    print(
        f"Input_tag: {inp_tag} \nRecommended tags: {similarity_top5} \n"
    )

## Reading Data

In [ ]:
Questions = pd.read_csv(
    "SOF Dataset/Questions.txt", encoding="UTF-16 LE", keep_default_na=False
)
Questions = Questions.sort_values(["Score", "ViewCount"], ascending=(False, False))
Questions.head()

,Id,CreationDate,Score,ViewCount,OwnerUserId,CommentCount,ClosedDate,FavoriteCount
253548,11227809,2012-06-27 13:51:36,9802,556194,87234,30,,5418
138111,6841333,2011-07-27 08:15:58,3072,288013,342235,16,,884
185096,8710619,2012-01-03 10:10:32,1852,107055,1127571,8,,436
256,40480,2008-09-02 20:14:29,1832,587017,4315,14,,974
2775,271526,2008-11-07 08:31:40,1728,524178,34856,26,,835

In [ ]:
Tags = pd.read_csv("SOF Dataset/tags.txt" , sep="	" )
Tags = Tags.rename(columns={'Id': 'QId'})
Tags.head()

        QId            Tags
0   2288942  user-interface
1   4433442          canvas
2   6381190        shortcut
3  27466868        jboss7.x
4   8375328            math

# Input Tags to recommender system

In [ ]:
inp_tags = ['jax-rs','intellij-idea','user-interface']

# Run Recommender system

In [ ]:
for t in trange(0, len(inp_tags),miniters=1):
    Recommneder(Tags,Questions,inp_tags[t])

 33%|███▎      | 1/3 [00:05<00:11,  5.91s/it]

Input_tag: jax-rs
Recommended tags: ['jersey', 'rest', 'java-ee', 'web-services', 'servlets']

 67%|██████▋   | 2/3 [00:18<00:09,  9.64s/it]

Input_tag: intellij-idea
Recommended tags: ['eclipse', 'ide', 'osx', 'android', 'android-studio']

100%|██████████| 3/3 [00:44<00:00, 14.86s/it]

Input_tag: user-interface
Recommended tags: ['swing', 'awt', 'android', 'layout', 'jlabel']